* {
	padding: 0;
	margin: 0;
}
html {
  height: 100%;
}
body {
	color: #111;
	background-color: #F6F6F6;
	font-family: "游ゴシック", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, Osaka, "ＭＳ ゴシック", "MS Gothic", sans-serif;
	word-wrap: break-word;
	height: 100%;
	line-height: 2.2;
    text-decoration:none
}
a{
	text-decoration:none;
	color:black
}
a:hover{
  text-decoration: none;
}
a:img{
border: none;
}
a:visited{
  color: black;
}
.logo{
	margin-top: 10px;
	margin-bottom: 0px;
}
.menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
	margin: 0;
	position: fixed;
	justify-content: space-between;
	background: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #333333;
	z-index: 999;
	width: 100%;
}
.menu-btn {
  display: none;
}

.menu-content {
	margin: 0;
	list-style-type: none;
	line-height: 5px;
}
.menu-content > li {
	position: relative;
	float: left;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.menu-content > li > a {
	display: block;
	padding: 0 15px;
	line-height: 55px;
	color: #000;
	font-size: 16px;
	text-decoration: none;
	font-weight: 900;
}
.menu-content > li > a > .blogicon-chevron-down {
	margin-right: 5px;
}
.menu-content > li > ul.second-content {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	list-style-type: none;
	-webkit-box-shadow: 1px 1px 7px #bbb;
	box-shadow: 1px 1px 7px #bbb;
	background-color: #FFFFFF;
}
.menu-content > li:hover > ul.second-content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

.menu-content > li > ul.second-content > li {
	text-align: left;
	width: 200px;
	text-indent: 5px;
}
.menu-content > li > ul.second-content > li > a {
	display: block;
	line-height: 40px;
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}
.menu-content > li > ul.second-content > li > a:hover {
	background: #278BC4;
	color: #000;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.container{
	padding-top: 10px;
	background-color: #FFFFFF;
	padding-left: 15px;
	}
.container-top{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	right: auto;
	left: auto;
}
.item01{
	width: 70%;
	float: left;
}
h1{
	font-weight: 800;
	font-size: 20px;
	float: left;
	line-height: 20px;
	width: 100%;
}
h2,h3,h4,h5,h6{
	line-height: 1;
	color: #414141;
	font-size: 30px;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 2%;
	width: 98%;
	font-stretch:50%;
}
.list{
	list-style-type: none;
	font-size: x-small;
	line-height: 20px;
	display: flex;
	width: 100%;
}
.pan{
	font-size: 14px;
	margin-top: 2%;
}
.item02{
	width: 30%;
	display: flex;
	margin-top: -15px;
}
.button_solid015 {
	text-align: center;
	width: 100%;
}
.button_solid015 p {
	margin-bottom: 5px;
	font-weight: 900;
	color: #6bb6ff;
	letter-spacing: 0.04rem;
	display: inline-block;
	position: relative;
	font-size: 0.8em;
}
.button_solid015 p:before, .button_solid015 p:after {
	display: inline-block;
	position: absolute;
	top: 45%;
	width: 15px;
	height: 3px;
	border-radius: 5px;
	background-color: #6BB6FF;
	content: "";
}
.address-mini p {
  margin: 0;
  padding: 0;
}
.button_solid015 p:before {
    left: -30px;
    -webkit-transform: rotate( 50deg );
    transform: rotate( 50deg );
}
.button_solid015 p:after {
	right: -30px;
	-webkit-transform: rotate( -50deg );
	transform: rotate( -50deg );
	background-color: #68B0F7;
}
.button_solid015 a {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	max-width: 240px;
	padding: 10px 25px;
	color: #FFFF00;
	transition: 0.3s ease-in-out;
	font-weight: 900;
	background: #6bb6ff;
	filter: drop-shadow(0px 2px 4px #ccc);
	border-radius: 50px;
	font-size: 1.2em;
}
.button_solid015 a:hover {
	transform: translateY(-2px);
	box-shadow: 0 15px 30px -5px rgb(0 0 0 / 15%), 0 0 5px rgb(0 0 0 / 10%);
	background-color: #FFFF00;
	color: #6BB5FE;
}
.button_solid015 a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.2s ease-in-out;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translateY(-54%);
}
.address-mini {
	background-color: #FFFF00;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	position: relative;
	display: inline-block;
	color: #555;
	font-size: 16px;
	margin-top: -1em;
	margin-right: 0px;
}
.address-mini:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  border: 15px solid transparent;
  border-bottom: 15px solid #FFFF00;
}
.address-title{
	width: 100%;
	font-size: 20px;
	font-weight: 900;
}
.address-mid{
	padding: 3% 10% 5% 10%;
	background-image: linear-gradient(90deg, rgba(4, 202, 255, 1) 32%, rgba(144, 245, 154, 1));
	font-style: normal;
	line-height: 1.5em;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	flex-wrap: wrap;
}
.address-title2{
	width: 100%;
	font-size: 25px;
	font-weight: 900;
	padding-bottom: 3%;
	color: #FFFFFF;
}
.item-left{
	width: 49.95%;
	background-color: #FFFFFF;
	margin-right: 0.1%;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-top: 3%;
	padding-bottom: 3%;
}
.item-left1{
	border: 1px solid #6bb6ff;
	padding: 2% 6% 2% 6%;
	font-size: 0.8em;
	color:#6bb6ff
}
.item-left2{
	margin-top: 8%;
	font-size: 2em;
}
.item-right{
	width: 49.95%;
	background-color: #FFFFFF;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 3%;
	padding-bottom: 3%;
}
.item-right1{
	padding: 2% 6% 2% 6%;
	font-size: 1.5em;
}
.button_solid003 a {
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 3% auto 0 auto;
	padding: 5% 2% 5% 2%;
	color: #FFF;
	transition: 0.3s ease-in-out;
	font-weight: 600;
	background: #6bb6ff;
	filter: drop-shadow(0px 2px 4px #ccc);
	border-radius: 3px;
	border-radius: 10px;
	overflow: hidden;
	font-size: 1.5em;
	width: 60%;
}
.button_solid003 a:before{
content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-image: linear-gradient( 130deg, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 55%);
    -webkit-transition: 0.5s;
    transition: 0.6s;
}
.button_solid003 a:hover:before {
    left: 100%;
}
.button_solid003 a:after {
    position: absolute;
    top: 50%;
    right: 20px;
    transition: 0.2s ease-in-out;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transform: translateY(-50%);
}
footer{
	background-color: #6BB6FF;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.sns{
	margin: 0px;
	padding: 0px;
	background-color: white;
	text-align: center;
	width: 100%;
}
.sns img{
	width: 3%;
	margin: 1%;
	filter: drop-shadow(0px 2px 4px #ccc);
}


.foot-logo{
	width: 80%;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
.footer-item{
	justify-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2em;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.footer-ul{
	padding: 0px 2% 0px 2%;
	margin: 0px;
	font-weight: 900;
	color: #3D5283;
	font-size: 0.9em;
	background: url('../common/arrow.png') no-repeat 0 0;
	background-size: auto 20px;
	padding-left: 15px;
	width: 16%;
}
.footer-ul > li{
	font-size: 0.8em;
	font-weight: 600;
	line-height: 20px;
	text-indent: 3%;
	position: relative;
	list-style-type: none;
}
.footer-3clom{
	margin: 1em auto 1em auto;
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	justify-content: center;
	color: #3D5283;
	font-size: 0.6em;
	border-top-style: solid;
	border-top-width: 0.1em;
	border-top-color: #E1F0F4;
	padding-top: 2em;
	padding-bottom: 2em;
	font-weight: 600;
}
.footer-item2{
	margin: 0px;
	border-right-style: solid;
	border-right-width: 0.1em;
	border-right-color: #E1F0F4;
	padding: 0em 3em 0em 3em;
}
.footer-item3{
	padding-right: 3em;
	padding-left: 3em;
}
.address-footer{
	font-size: 0.6em;
	font-weight: 600;
	font-style: normal;
	color: #3D5283;
	text-align: center;
	width: 100%;
}
.copy{
	margin: 0px;
	padding: 1%;
	background-color: #278BC4;
	text-align: center;
	font-size: 0.8em;
	font-weight: 600;
	width: 100%;
}
        
@media screen and (max-width: 960px) {
  nav {
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 60%;
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    position: absolute;
    left: 0;
    width: 30px;
    height: 1px;
    background-color: #333;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
	background-color: #000000;
}
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(45deg);
  }
  .mask {
    display: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 2;
    cursor: pointer;
  }
  .menu-content > li {
    width: 100%;
    margin-bottom: 15px;
  }
  .menu-content > li:hover {
    background: none;
  }
  .menu-content > li > a {
    height: 100%;
    padding: 0px;
    font-size: 100%;
    border-bottom: 1px solid #000;
  }
  .menu-content > li > ul.second-content {
    visibility: visible;
    opacity: 1;
    width: 100%;
    position: relative;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .menu-content > li > ul.second-content > li {
    width: 100%;
    text-align-last: left;
  }
  .menu-content > li > ul.second-content > li > a {
    padding-left: 15px;
  }
  .menu-content > li > ul.second-content > li > a:hover {
    background: none;
  }
.container-top{
	width:90%
}
.item01 {
	width:100%
}
h1{
	margin-top: -20px;
}
.item02 {
	display: none;
}
.list{
	flex-direction:column;
}
.address-mid{
	padding: 3% 5% 5% 5%;
}

.item-left{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 6px;
	width: 100%;
	border-top-left-radius: 6px;
	margin-bottom: 0.2%;
	padding-top: 6%;
}
.item-left1{
	padding: 2% 4% 2% 4%;
	font-size: 0.7em;
}
.item-right{
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 0px;
	width: 100%;
	border-top-left-radius: 0px;
}
h2,h3,h4,h5,h6{
	font-size: 25px;
	margin-top: 5%;
}

.button_solid003 a {
	width: 80%;
}
.sns img{
	width: 10%;
	margin: 1%;
}


.foot-logo{
	width: 90%;
	margin-top: 3%;
}
.footer-ul{
	padding: 0px 2% 0px 2%;
	font-weight: 700;
	font-size: 0.7em;
}

.footer-item{
	width: 90%;
	justify-content: center
}
.footer-3clom{
	width: 90%;
}
.footer-item2{
	padding: 0em 1.5em 0em 1.5em;
}
.footer-item3{
	padding-right:1.5em;
	padding-left:1.5em;
}
}