.slider {
	margin-inline: auto;
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 350px;

}
.slick-img img {
  width: 100%;
}
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15); /* 拡大率 */
  }
}
.add-animation {
  animation: zoomUp 10s linear 0s normal both;
}
.slide-title{
	position: absolute;
	top: 340px;
	left: 200px;
	font-size: 40px;
	font-weight: 900;
	color: #FFFFFF;
	line-height: 40px;
	text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4);
}
.container-column{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	font-weight: 600;
}
.column-left{
	width: 48%;
	margin-right: 4%;
}
.column-right{
	width: 48%;

}
.column-3{
	width: 30%;
	margin-right: 5%;
}
.column-3-1{
	width: 28%;
}
.box {
	border-radius: 5px;
	position: relative;
	padding: 1rem;
	background-color: #FFFFFF;
	-webkit-transition: all .3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 3px solid;
	outline-color: #FFF;
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
	margin-bottom: 4%;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
.box::before {
	border-radius: 5px;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 200px;
	height: 50px;
	background: repeating-linear-gradient(-45deg, #6BB6FF 0px 5px, transparent 5px 10px);
	content: '';
	z-index: -1;
	
}
.box,.box2 p {
    line-height: 1.5;
}
.box:hover {
 border-color: #FFF;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    cursor: pointer
    }
.box2 {
	border-radius: 5px;
	position: relative;
	padding: 1rem;
	background-color: #FFFFFF;
	-webkit-transition: all .3s;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 3px solid;
	outline-color: #FFF;
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1.2s cubic-bezier(0.2, 1, 0.2, 1);
	margin-bottom: 4%;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
.box2::before {
	border-radius: 5px;
	position: absolute;
	top: -15px;
	right: -15px;
	width: 100px;
	height: 50px;
	background: repeating-linear-gradient(-45deg, #90f59a 0px 5px, transparent 5px 10px);
	content: '';
	z-index: -1;
}
.box2:hover {
 border-color: #FFF;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: transparent;
    outline-offset: 12px;
    cursor: pointer
    }


@media only screen and (max-width:960px) {
.slider {
	height: auto;
}
.slide-title{
	top: 200px;
	left: 10px;
	font-size: 20px;
	font-weight: 600;
}
.box2::before {
	width: 200px;
}

.column-left,.column-right,.column-3,.column-3-1{
	width: 100%;
	margin-right: 0%;
}
}

