.container-messeage{
	margin: 3% auto 3% auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
}
.messeage-item1{
width:50%;
margin-right:3%;
align-self:flex-start;
}
.message-item1-1{
	width: 100%;
	font-weight: 900;
	text-align: center;
	font-size: 1.2em;
	line-height: 2em;
}
.messeage-item2{
	width: 45%;
	padding-right: 2%;
	line-height: 1.6em;
	font-size: 0.9em;
	font-weight: 500;
}
h2 {
	display: flex;
	align-items: center;
	column-gap: 8px;
	color: #333333;
	width: 100%;
	margin-top: 5%;
	font-size: 20px;
}

h2::before {
    width: 0.8em;
    height: 0.4em;
    border-bottom: 4px solid #2589d0;
    border-left: 4px solid #2589d0;
    transform: rotate(-45deg) translate(2px, -2px);
    content: '';
}

table{
	font-size: 0.9em;
	border-collapse: collapse;
	width: 65%;
	border-spacing: 1px;
	line-height: 45px;
	align-self: flex-start;
	margin-left: -2%;
}
.responsive-table th,
.responsive-table td{
	padding: 1px;
	border: solid 1px #ccc;
	box-sizing: border-box;
}
.responsive-table th {
  width:30%;
  background: #333; 
  color: #fff; 
  text-align:center; 
  }
  .messeage-item3{
	width: 32%;
}

@media only screen and (max-width:960px) {
.container-messeage{
	width: 90%;
	flex-wrap: none;
	flex-direction:column;
}
.messeage-item1{
width:100%;
margin-right:0%;
}
.messeage-item2{
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	margin-top: 4%;
}    
table{
	margin-left: 0%;
	margin-top: -5%;
}
.responsive-table {
    width: 100%; 

  }
.responsive-table th,
.responsive-table td {
    display: block;
    width: 100%;
    border-bottom:none;
    text-align:center; 
  }
  .responsive-table tr:last-child{
    border-bottom: solid 1px #ccc; /* 最後の行の下部に境界線を追加 */
  }
  .messeage-item3{
	width: 100%;
}
.messeage-item3 img{
	width:50%;
    height: 180px;
    object-fit: cover;

}



}
