.today{
	width:79%;
	margin-left:10%;
	margin-right:auto
}
.container-t{
	padding: 5% 10% 5% 10%;
	width: 80%;
	background-image: url('../top-img/top-imag01.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	background-size: cover;
	margin-top: 2em;
}
.top-item1{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3%;
}
.p-content-title {
	font-size: 55px;
	font-weight: 900;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
	color: #3333CC;
	align-self: center;
	line-height: 70px;
}
.p-content-title0 {
color:red}

.p-content-title2 {
	font-size: 25px;
	font-weight: 900;
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
	color: #3333CC;
	align-self:center

}

.p-content-title3{
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(8deg);
	text-shadow: 1px 1px 0 #fff, 2px 2px 0 #000;
	color: #808080;
	font-size: 20px;
	font-weight: 900;
}
.shikaku {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px 2px;
	border-bottom-right-radius: 4px 2px;
	position: relative;
	padding: 0.5em;
	color: #FFFFFF;
	background: #4484ce;
	font-weight: 900;
	font-size: 20px;
	width: 6%;
	margin-right: 0.5em;
	text-align: center;
}
.shikaku:after {
	position: absolute;
	content: '';
	top: 100%;
	left: 0;
	border-top: 15px solid #009250;
	border-right: 0px solid transparent;
	border-left: 30px solid transparent;
	border-bottom: 0px solid transparent;
	border-color: #196DBD transparent transparent transparent;
}
.top-item2{
	margin-top: 3%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -3%;
}
.top-item2-1{
	width: 30%;
	margin-right: 5%;
}
.top-item2-2{
	width: 30%;
}
.top-item2-p{
	font-size: 43px;
	color: #FFFF00;
}
.cta_btn05 {
	border-radius: 15px;
	margin: 40px auto 20px;
	padding: 25px 10px 25px 10px;
	background-color: #6BB6FF;
	font-weight: 900;
	text-align: center;
	color: #FFFFFF;
	line-height: 35px;
	font-size: 20px;
    box-shadow: 0px 10px 0px 0px #0593ff;
    border-radius: 10px;}
.cta_btn05-ttl {
	border-radius: 20px;
	border: 6px solid #6BB6FF;
	background-color: #FFFFFF;
	color: #6BB6FF;
	padding: 3px;
	margin: -60px 0 0 0;
	position: relative;
	left: 20%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	font-size: 18px;
	font-weight: 900;
	text-align: center;
	width: 20%;
}
.cta_btn05-ttl::after {
	border-style: solid;
	border-width: 15px;
	border-color: #FFFFFF transparent transparent transparent;
	content: '';
	position: absolute;
	bottom: -25px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 0;
	height: 0;
}

.top-item3{
	display: flex;
	margin-bottom: 2%;
	margin-top: 5%;
}
.top-item3-1 {
	width: 100%;
}
.cta_btn06 a {
	background: #FFFF00;
	border-radius: 40px;
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	max-width: 280px;
	padding: 10px 40px 10px 10px;
	transition: 0.3s ease-in-out;
	font-weight: 900;
	font-size: 29px;
	letter-spacing: 0px;
	color: #666666;
}
.cta_btn06 a:after {
	content: "";
	position: absolute;
	top: 50%;
	bottom: 0;
	right: 2rem;
	font-size: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: right 0.3s;
	width: 6px;
	height: 6px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	transform: translateY(-50%) rotate(45deg);
}
.cta_btn06 a:hover {
  background: #6bb6ff;
  color: #FFF;
}
.cta_btn06 a:hover:after {
	right: 1.4rem;
}
.cta_btn06 a:visited {
	color: #666666;
}

.top-item4{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
        text-shadow: 1px 1px 2px black;
}
.container-m{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
}
.con-m1,.con-m4,.con-m5{
	border-radius: 10px;
	background-color: #FFFFFF;
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	margin-bottom: 8%;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);

}
.con-m1-left{
	padding: 1% 1% 1% 1%;
	width: 47%;
	margin-right: 2%;
}
 .con-m1-left img{
	width: 100%;
	height:100%;
	border-radius: 6px;
}

.con-m1-right{
	padding: 1%;
	width: 47%;
	line-height: 25px;
}
.subtitle {
	position: relative;
	padding: 3px;
	border-bottom: 4px solid #1F95D4;
	border-bottom-color: #57BFC2;
	font-weight: 900;
}
.subtitle:before {
	position: absolute;
	bottom: -4px;
	left: 0;
	width: 20%;
	height: 4px;
	content: '';
	background: #1F95D4;
}
button {
	--primary-color: #57BFC2;
	--secondary-color: #fff;
	--hover-color: #1F95D4;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 5px;
	color: var(--secondary-color);
	padding: 1% 1.5% 1% 1.5%;
	background: var(--primary-color);
	display: flex;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}
.con-m2{
	display: flex;
	width: 100%;
	margin-bottom: 8%;
	margin-top: 3%;
}
 .con-m2 img{
 	width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 6px 6px 0px 0px;
}
.con-m2-item1,.con-m2-item2,.con-m2-item3{
	border-radius: 10px;
	padding: 1%;
	width: 25%;
	margin-bottom: 2%;
	margin-right: 2%;
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
.con-m2-item4{
	border-radius: 10px;
	padding: 1%;
	width:25%;
	margin-bottom: 2%;
	background-color: #FFF;
	position: relative;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);

	}
.con-m2-item-r{
	border-radius: 10px;
	padding: 1%;
	width:25%;
	margin-bottom: 2%;
	background-color: #FCC700;
	}
.m2-item-ttl{
	position: absolute;
	background-color: #FFFFFF;
	border-radius: 6px;
	top: -10px;
	left: -5px;
	padding: 3px 11px 3px 11px;
	font-weight: 900;
	font-size: 18px;
	color: #1F95D4;
	box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}
.m2-item-p{
	padding: 9px 5px 5px 5px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #FFFFFF;
	margin-top: -14px;
	line-height: 20px;
	}
.con-m3{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 8%;
	flex-wrap: wrap;
	margin-top: 3%;
}
.con-m3 img{
	width: 100%;
	margin-bottom: 8px;
}
.con-m3-item{
	width: 15.2%;
	font-weight: 900;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
}
.con-m3-item-sankaku{
	width: 2%;
	margin-right: 2%;
	margin-left: 2%;
}
.con-m3-item1{
 display:none
}
.con-m3-item-sankaku1{
 display:none
}
.con-m3-item2{
	width: 100%;
	font-size: small;
	margin-top: 14px;
	font-weight: 700;
	color: #333333;
	text-decoration: underline; 
	text-decoration-thickness: 0.5em; 
	text-decoration-color: rgba(87,191,194,0.4);   
	text-underline-offset: -0.2em;
	text-decoration-skip-ink: none; 
}
.con-m4-left{
	padding: 3% 1% 3% 3%;
	width: 31%;
	margin-right: 2%;
	position: relative;
}
 .con-m4-left img{
	width: 100%;
	border-radius: 6px;
}
.con-m4-rank{
	position: absolute;
	width: 20%;
	top: 2%;
	left: 2%;
}
.con-m4-right{
	padding: 3% 1% 1% 1%;
	width: 57%;
	line-height: 25px;
	display: flex;
	flex-wrap: wrap;
}

.con-m4-item1{
	border: 1px ridge #1F95D4;
	width: 12.8%;
	padding: 0.8%;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	font-weight: 900;
	margin-right: 5%;
	align-self: flex-start;
	color: #1F95D4;
}
.con-m4-item2{
	padding: 0.8%;
	width: 70.4%;
	font-weight: 900;
	font-size: 18px;
	align-self: flex-start;
}
.con-m4-logo{
	width: 8%;
	align-self: flex-start;
}
.con-m4-item3{
	width: 77%;
	align-self: flex-start;
	font-weight: 900;
	font-size: 19px;
	color: #CC3300;
}
.con-m4-item4{
	width: 20%;
	margin-top: 0px;
	align-self: flex-start;
	font-weight: 900;
	font-size: 15px;
	margin-left: 3%;
	-webkit-transform: skew(-15deg);
	transform: skew(-15deg);
	color: #fff;
	text-align: center;
	background-color: #CC3300;
}
.con-m4-item5{
	border-radius: 6px;
	font-size: 0.8em;
	border: 1px solid #1F95D4;
	color: #1F95D4;
	padding: 2px;
	margin: 3px;
	font-weight: 800;
}
.con-m4-item6{
	width:100%
}
.con-m5-left{
	width: 38%;
	margin-left: 2%;
	margin-bottom: 2%;
	align-self:flex-start
}
.con-m5-right{
	width: 56%;
	margin-left: 2%;
	margin-right: 2%;
	line-height: 25px;
	list-style: none;
	margin-bottom: 2%;
	font-size: 0.9em;
}
.marker-lightbulue{
    background: linear-gradient(transparent 40%, #e6f9ff 40%, #a8eaff 80%, #e6f9ff 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media screen and (max-width: 960px) {
.container-t{
	margin-top: 4em;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
}
.top-item1{
	line-height: 20px;
	margin-top: 3%;
	margin-bottom: 4%;
justify-content:center

}
.shikaku {
width:15%
}
.p-content-title {
	font-size: 34px;
	line-height: 50px;
}
.p-content-title2 {
	font-size: 20px;
}
.top-item2{
	width: 100%;
}
.top-item2-1{
	width: 48%;
	margin-right: 2%;
}
.top-item2-2{
	width: 48%;
}
.top-item2-p{
	font-size: 27px;
}
.cta_btn05 {
	font-size: 12px;
}
.cta_btn05-ttl {
	border-radius: 20px;
	border: 4px solid #6BB6FF;
	font-size: 17px;
	width: 38%
}
.cta_btn05-ttl::after {
	bottom: -20px;
}

.top-item3{
	flex-direction: column;
	margin-bottom: 5%;
}
.top-item3-1 {
 margin-bottom:2%
}

.cta_btn06 a {
	font-size: 25px;
}
.p-content-title3{
	display:none	
}
.top-item4{
	padding: 2% 2% 2% 3%;
	background-color: rgba(255,255,255,0.4);
	margin-bottom: 4%;
	line-height: 30px;
	width: 105%;
	margin-left: -5%;
}
.container-m{
	width: 90%;
	padding-right: 5%;
	padding-left: 5%;
	margin-top: 5%;
}
.con-m1,.con-m2,.con-m3,.con-m4{
	margin-bottom:10%
}
.con-m1{
	margin-bottom: 3%;   
	flex-direction: column;
}
 .con-m1-left img{
	width: 100%;
    height: 180px;
    object-fit: cover;
		}

.con-m1-left{
	width: 98%;
	margin-right: 0%;

}
.con-m1-right{
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}
.con-m2{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.con-m2-item1,.con-m2-item3{
	width: 46%;
	margin-bottom:4%
}
.con-m2-item2,.con-m2-item4{
	width: 46%;
	margin-right:0%;
	margin-bottom:4%
}

.con-m3-item{
	width: 28%;
	margin-bottom: 2%;
}
.con-m3-item1{
	width: 28%;
	margin-bottom: 2%;
	display:inherit
}
.con-m3-item-sankaku{
	width: 3%;

}
.con-m3-item2{
	display:none
}
.con-m4-left{
	width: 100%;
	margin-right: 0%;
}
.con-m4-right{
	width: 100%;
}
.con-m4-item1{
	width: 30%;
	font-size: 16px;

}
.con-m4-item2{
	margin: 0px 2% 0px 0px;
	width: 80%;
	font-size: 16px;
}
.con-m4-logo{
	width:8%;
}
.con-m4-item3{
	width: 100%;
}
.con-m4-item4{
	width: 50%;
	margin-left: 0%;
}
.con-m5-left{
	width: 98%
}
.con-m5-right{
	width: 98%;
}




}